.btnWeb {
    background-color: #3788A6;
    color: #fff;
    font-family: "Montserrat", serif;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.btnWhatsApp {
    background-color: #25D366;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.btnEmail {
    background-color: #8E2927;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.btnVoltar {
    background-color: #27445B;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.btnSolicitarQR {
    background-color: #27445B;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

button {
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin: 10px;
    width: 70%;
    max-width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover {
    transform: scale(1.03);
    filter: brightness(1.1);
}

.button-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px;
}
